@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

@keyframes rainbow {
  0% { color: #FF0000; }
  14.28% { color: #FF7F00; }
  28.56% { color: #FFFF00; }
  42.84% { color: #00FF00; }
  57.12% { color: #0000FF; }
  71.40% { color: #4B0082; }
  85.68% { color: #8B00FF; }
  100% { color: #FF0000; }
}

.rainbow-text {
  animation: rainbow 5s linear infinite;
}

/*

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*/
